<div id='overlay'></div>
<div id='modal'>
  <div id='content'>
    <div class='row'>
      <p>Your account has been locked due to mis-conduct/non-payment. Kindly contact us to re-activate your account. Thanks!</p>
    </div>
    <div class='row'>
      <%= link_to 'Contact Us', 'mailto:contentbunch@gmail.com?Subject=Re-activate the account', class: 'btn btn-primary contact-us-btn' %>
    </div>
  </div>
</div>
