.login-container {
  margin-top: 50px;
}
.login-form {
  padding-top: 30px
}
.login-form .field {
  margin-bottom: 25px;
}
.login-btn {
  margin-top: 10px;
}
.reset-password-container {
  margin-top: 50px;
}
.reset-password-form {
  padding-top: 30px
}
.reset-password-form .field {
  margin-bottom: 25px;
}
.forget-password {
  float: right;
  font-size: 80%;
  position: relative;
  top: -10px;
}
.reset-password-btn {
  margin-top: 10px;
}
.messages {
  margin-top: 20px;
}
.user-container {
  margin-top: 60px;
}
.user-container .form-group {
  margin-top: 20px;
}
.new-user-btn {
  padding: 20px 0px;
}
.user-form span.error{
  color: red;
  font-weight: normal;
}
.user-form input.error,
.user-form select.error {
  border: 1px solid red;
}
.navbar .brand {
  padding: 0;
  font-size: 22px;
  margin-right: 15px;
}
.navbar .brand:hover{
  background: transparent;
}
.logo img {
  max-height: 50px;
  margin-bottom: 0;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity = 50);
  z-index: 1001;
}
#modal {
  position: absolute;
  padding: 8px;
  z-index: 1002;
}
#content {
  border: 1px solid black;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 450px;
  font-size: 17px;
}
.contact-us-btn {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}
.navbar {
  z-index: 1003;
}
