<li class='dropdown'>
  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>Tools<span class='caret'></span></a>
  <ul class='dropdown-menu'>
    <li><%= link_to 'Quiz', '#' %></li>
    <li><%= link_to 'Pak Cricketer Quiz', pak_player_path %></li>
  </ul>
</li>
